<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>{% block title %}Rate a Film{% endblock %}</title>
    </head>
    <body>
        <div class="main">
            <div class="row justify-content-center">
                <div class="col-8">
                <h2>Index</h2>
                    <h4>
                        <nav class="uk-navbar mt-2">
		                <ul class="uk-navbar-nav">
                        <dd class="mt-0 mb-4"><a href="/">Home</a></dd>
                        <dd class="mt-0 mb-4"><a href="/films">Films list</a></dd>
                        <dd class="mt-0 mb-4"><a href="/ratings">My ratings list</a></dd>
                        <dd class="mt-0 mb-4"><a href="/import">Import data</a></dd>
		                </ul>
                    </nav>
                </h4>
                    <h1 class="mt-2">{% block subtitle %}{% endblock %}</h1>
                    <hr class="mt-0 mb-4">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>